*.dSYM

*.a

*.o

*.sym

/dependencies/libressl/apps/ocspcheck/ocspcheck

/visualstudio/.vs
/visualstudio/Release
/visualstudio/Debug
/visualstudio/*/Release
/visualstudio/*/Debug

/src/pgmanage
/src/check
/src/data_test
/src/config/pgmanage.conf
/src/Makefile
/src/postgres.pid
/src/output.txt

pgmanage.1

Makefile
*.opendb
*.exe
*.pdb
*.obj
*.idb
*.ipdb
*.iobj
*.tlog
*.msi
.dirstamp
.libs
*.Po
*.Plo
*.lo
.deps
/pgmanage_gui_mac/build/
/pgmanage_installer_mac/src/
/pgmanage_installer_mac/pgManage*.pkg

/dependencies/libev/CVS/Template
*.core

visualstudio/src/pgManageGUI/bin/Release/pgManageGUI.exe.config
visualstudio/src/pgManageGUI/obj/Release/App.g.cs
visualstudio/src/pgManageGUI/obj/Release/MainWindow.baml
visualstudio/src/pgManageGUI/obj/Release/MainWindow.g.cs
visualstudio/src/pgManageGUI/obj/Release/pgManageGUI.Properties.Resources.resources
visualstudio/src/pgManageGUI/obj/Release/pgManageGUI.csproj.FileListAbsolute.txt
visualstudio/src/pgManageGUI/obj/Release/pgManageGUI.csproj.GenerateResource.Cache
visualstudio/src/pgManageGUI/obj/Release/pgManageGUI.g.resources
visualstudio/src/pgManageGUI/obj/Release/pgManageGUI_MarkupCompile.cache
visualstudio/src/pgManageGUI/obj/Release/pgManageGUI_MarkupCompile.lref

apps/nc/.libs/nc
apps/nc/nc
apps/openssl/.libs/openssl
apps/openssl/openssl
config.log
config.status
crypto/.libs/libcompat.a
crypto/.libs/libcompat.la
crypto/.libs/libcompatnoopt.a
crypto/.libs/libcompatnoopt.la
crypto/.libs/libcrypto.a
crypto/.libs/libcrypto.la
crypto/.libs/libcrypto.lai
crypto/.libs/libcrypto.so
crypto/.libs/libcrypto.so.38
crypto/.libs/libcrypto.so.38.0.0
crypto/libcompat.la
crypto/libcompatnoopt.la
crypto/libcrypto.la
libcrypto.pc
libssl.pc
libtls.pc
libtool
openssl.pc
/dependencies/libressl/ssl/.libs/libssl.a
/dependencies/libressl/ssl/.libs/libssl.la
/dependencies/libressl/ssl/.libs/libssl.lai
/dependencies/libressl/ssl/.libs/libssl.so
/dependencies/libressl/ssl/.libs/libssl.so.39
/dependencies/libressl/ssl/.libs/libssl.so.39.0.0
/dependencies/libressl/ssl/.libs/libssl.so.39.0.0T
/dependencies/libressl/ssl/libssl.la
/dependencies/libressl/tls/.libs/libtls.a
/dependencies/libressl/tls/.libs/libtls.la
/dependencies/libressl/tls/.libs/libtls.lai
/dependencies/libressl/tls/.libs/libtls.so
/dependencies/libressl/tls/.libs/libtls.so.11
/dependencies/libressl/tls/.libs/libtls.so.11.0.0
/dependencies/libressl/tls/.libs/libtls.so.11.0.0T
/dependencies/libressl/tls/libtls.la
/dependencies/libressl/apps/nc/nc
/dependencies/libressl/apps/openssl/openssl
/dependencies/libressl/crypto/libcompat.la
/dependencies/libressl/crypto/libcompatnoopt.la
/dependencies/libressl/crypto/libcrypto.la
/dependencies/libressl/ssl/libssl.la
/dependencies/libressl/tls/libtls.la

pgManage.app
pgManageMac.dmg
pgmanage_installer_mac/old
pgmanage_gui_mac/old
/db_framework_odbc
README.md
/configure
/Makefile
/visualstudio/Debug
/visualstudio/x64
/visualstudio/src/Debug
/visualstudio/src/x64
/visualstudio/src/bin
/RELEASE_NOTES.txt
/dependencies/libressl/apps/nc/netcat.c.orig
/dependencies/libressl/autom4te.cache/output.0
/dependencies/libressl/autom4te.cache/output.1
/dependencies/libressl/autom4te.cache/output.2
/dependencies/libressl/autom4te.cache/requests
/dependencies/libressl/autom4te.cache/traces.0
/dependencies/libressl/autom4te.cache/traces.1
/dependencies/libressl/autom4te.cache/traces.2
/dependencies/libressl/crypto/compat/b_win.c
/dependencies/libressl/crypto/compat/ui_openssl_win.c
/dependencies/libressl/libtls-standalone/VERSION
/dependencies/libressl/libtls-standalone/compat/Makefile.am
/dependencies/libressl/libtls-standalone/compat/Makefile.am.arc4random
/dependencies/libressl/libtls-standalone/compat/arc4random.c
/dependencies/libressl/libtls-standalone/compat/arc4random.h
/dependencies/libressl/libtls-standalone/compat/arc4random_aix.h
/dependencies/libressl/libtls-standalone/compat/arc4random_freebsd.h
/dependencies/libressl/libtls-standalone/compat/arc4random_hpux.h
/dependencies/libressl/libtls-standalone/compat/arc4random_linux.h
/dependencies/libressl/libtls-standalone/compat/arc4random_netbsd.h
/dependencies/libressl/libtls-standalone/compat/arc4random_osx.h
/dependencies/libressl/libtls-standalone/compat/arc4random_solaris.h
/dependencies/libressl/libtls-standalone/compat/arc4random_uniform.c
/dependencies/libressl/libtls-standalone/compat/arc4random_win.h
/dependencies/libressl/libtls-standalone/compat/bsd-asprintf.c
/dependencies/libressl/libtls-standalone/compat/chacha_private.h
/dependencies/libressl/libtls-standalone/compat/explicit_bzero.c
/dependencies/libressl/libtls-standalone/compat/getentropy_aix.c
/dependencies/libressl/libtls-standalone/compat/getentropy_freebsd.c
/dependencies/libressl/libtls-standalone/compat/getentropy_hpux.c
/dependencies/libressl/libtls-standalone/compat/getentropy_linux.c
/dependencies/libressl/libtls-standalone/compat/getentropy_netbsd.c
/dependencies/libressl/libtls-standalone/compat/getentropy_osx.c
/dependencies/libressl/libtls-standalone/compat/getentropy_solaris.c
/dependencies/libressl/libtls-standalone/compat/getentropy_win.c
/dependencies/libressl/libtls-standalone/compat/reallocarray.c
/dependencies/libressl/libtls-standalone/compat/strcasecmp.c
/dependencies/libressl/libtls-standalone/compat/strlcat.c
/dependencies/libressl/libtls-standalone/compat/strlcpy.c
/dependencies/libressl/libtls-standalone/compat/strndup.c
/dependencies/libressl/libtls-standalone/compat/strnlen.c
/dependencies/libressl/libtls-standalone/compat/strsep.c
/dependencies/libressl/libtls-standalone/compat/timingsafe_bcmp.c
/dependencies/libressl/libtls-standalone/compat/timingsafe_memcmp.c
/dependencies/libressl/libtls-standalone/include/stdlib.h
/dependencies/libressl/libtls-standalone/include/string.h
/dependencies/libressl/libtls-standalone/include/tls.h
/dependencies/libressl/libtls-standalone/include/unistd.h
/dependencies/libressl/libtls-standalone/m4/check-hardening-options.m4
/dependencies/libressl/libtls-standalone/m4/check-libc.m4
/dependencies/libressl/libtls-standalone/m4/check-os-options.m4
/dependencies/libressl/libtls-standalone/m4/disable-compiler-warnings.m4
/dependencies/libressl/libtls-standalone/man/Makefile.am
/dependencies/libressl/libtls-standalone/man/tls_init.3
/dependencies/libressl/libtls-standalone/src/Makefile.am
/dependencies/libressl/libtls-standalone/src/tls.c
/dependencies/libressl/libtls-standalone/src/tls_client.c
/dependencies/libressl/libtls-standalone/src/tls_config.c
/dependencies/libressl/libtls-standalone/src/tls_conninfo.c
/dependencies/libressl/libtls-standalone/src/tls_internal.h
/dependencies/libressl/libtls-standalone/src/tls_peer.c
/dependencies/libressl/libtls-standalone/src/tls_server.c
/dependencies/libressl/libtls-standalone/src/tls_util.c
/dependencies/libressl/libtls-standalone/src/tls_verify.c
/dependencies/libressl/tls/tls_internal.h.orig

UpgradeLog.htm
npm-debug.log


src/data_test
src/output.txt
src/postgres.pid
