body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', monospace;
}

#checkboxes {
    margin: 0;
    box-sizing: border-box;
    padding: 0.25em;
}
#checkboxes div {
    display: inline-block;
    padding: 0.5em;
}
#checkboxes div input {
    margin: 0 1em;
}

h3 {
    font-size: 1.5em;
}

small {
    font-size: 0.75em;
}

#tests {
	width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

#tests > .test-list {
	padding: 0.5em;
	box-sizing: border-box;
	flex: 1;
    flex-basis: auto;
	min-width: 13em;
	max-width: 16em;
}

.disabled {
    opacity: 0.3;
}

.test-block {
    margin: 0;
    box-sizing: border-box;
    padding: 0.25em;
}

.test-list label,
.test-list input,
.test-list textarea {
    width: 100%;
}

.waiting {
	background-color: #0000FF;
	color: #FFFFFF;
}
.running {
	background-color: #FFFF00;
}
.fail {
	background-color: #FF0000;
	color: #FFFFFF;
}
.pass {
	background-color: #00FF00;
}
