#iframe-news {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    z-index: 150;
    background-color: #FFFFFF;
}

#toolbar-addon-container {
	display: inline;
}


.ace-toolbar > gs-button[icon],
#toolbar-addon-container > gs-button,
#button-home-open-to-new-tab {
	padding-left: 2.3em !important;
}
#toolbar-addon-container > gs-button:after {
    position: absolute;
    display: block;
    width: 1.7em;
    height: 1.12em; /*1.4em;*/
    top: 0;
    left: 0;
    font-family: fontawesome;
    text-align: center;
    text-indent: 0;
    line-height: 1.75em;
    font-size: 1.4em;
    margin: 0;
}

.ace-toolbar > gs-button:after {
    position: absolute;
    display: block;
    width: 1.7em;
    height: 1.12em; /*1.4em;*/
    top: 0;
    left: 0;
    font-family: fontawesome;
    text-align: center;
    text-indent: 0;
    font-size: 1.4em;
    margin: 0;
}

#button-home-open-to-new-tab:after {
    position: absolute;
    display: block;
    width: 1.7em;
    height: 1.12em; /*1.4em;*/
    top: 0;
    left: 0;
    font-family: fontawesome;
    text-align: center;
    text-indent: 0;
    line-height: 2.4em;
    font-size: 1.4em;
    margin: 0;
    margin-left: -0.3em;

    content: '\f124'; /* location-arrow */
}

#button-home-open-to-new-tab:before {
    position: absolute;
    display: block;
    width: 1.7em;
    height: 1.12em; /*1.4em;*/
    top: 0;
    left: 0;
    font-family: fontawesome;
    text-align: center;
    text-indent: 0;
    line-height: 1.75em;
    font-size: 1.4em;
    margin: 0;

    content: '\f114'; /* folder-o */
}
