#window-size-helper {
    position: fixed;
    top: 4em;
    right: 1em;
    z-index: 1000000;
    background-color: #999999;
    border: 2px solid #000000;
    color: #FFFFFF;
    padding: 0.2em;
    cursor: pointer;
}