
gs-date input,
gs-text input,
gs-search input,
gs-number input,
gs-memo input,
gs-combo input,
gs-time input,
gs-select select,
gs-interval input,
gs-memo textarea {
    width: 100%;
    border: 0 none;
    margin: 0;
    font-size: 1em;
    font-family: inherit;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    
    -webkit-border-radius: inherit;
    /*-moz-border-radius: none;*/
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    line-height: 1.2em;
    padding: 0.2em;
}

gs-date input:focus,
gs-text input:focus,
gs-search input:focus,
gs-number input:focus,
gs-memo input:focus,
gs-combo input:focus,
gs-time input:focus,
gs-select select:focus,
gs-interval input:focus,
gs-memo textarea:focus {
    /* this is a default that but each element is allow to have its own setting of this particular property */
    outline-offset: -1px;
    background-color: #FFFDEC;
    outline: dashed 1px #FFB000;
}

gs-memo textarea {
    display: block;
}