
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

td, th {
    text-align: left;
    padding: 0.15em;
    /*
    border-left: 1px solid #168216;
    border-bottom: 1px solid #168216;
    */
    border: 1px solid #ddd;
}

tr td:first-child,
tr th:first-child {
    border-left: 0 none;
}

table thead th {
    /*
    border-bottom: 2px solid #13AB13;
    */
}

/*
table tr * {
    background-color: transparent;
}
*/

tr:nth-of-type(odd) {
  background-color: #eeeeee;
}

table thead tr {
    /*
    border-bottom: 2px solid #13AB13;
    */
    cursor: default;
}

table th {
    text-align: center;
}

/* ###################################### */
/* ############# BACKGROUND ############# */
/* ###################################### */

/* Background Colors for Tables */
/* !important tags are to override the even record colors */
table thead[bg-primary],
table tbody[bg-primary],
table tr[bg-primary],
table td[bg-primary],
table th[bg-primary] {
	color:#fff !important;
	background-color:#337ab7 !important;
}

table a[bg-primary]:focus,
table a[bg-primary]:hover {
	background-color:#286090 !important;
}

table thead[bg-success],
table tbody[bg-success],
table tr[bg-success],
table td[bg-success],
table th[bg-success] {
	background-color:#dff0d8 !important;
}

table a[bg-success]:focus,
table a[bg-success]:hover {
	background-color:#c1e2b3 !important;
}

table thead[bg-info],
table tbody[bg-info],
table tr[bg-info],
table td[bg-info],
table th[bg-info] {
	background-color:#d9edf7 !important;
}

table a[bg-info]:focus,
table a[bg-info]:hover {
	background-color:#afd9ee !important;
}

table thead[bg-warning],
table tbody[bg-warning],
table tr[bg-warning],
table td[bg-warning],
table th[bg-warning] {
	background-color:#fcf8e3 !important;
}

table a[bg-warning]:focus,
table a[bg-warning]:hover {
	background-color:#f7ecb5 !important;
}

table thead[bg-danger],
table tbody[bg-danger],
table tr[bg-danger],
table td[bg-danger],
table th[bg-danger] {
	background-color:#f2dede !important;
}

table a[bg-danger]:focus,
table a[bg-danger]:hover {
	background-color:#e4b9b9 !important;
}


/* ###################################### */
/* ############# BLUE THEME ############# */
/* ###################################### */
/*
.blue tr:nth-child(even) {
    background-color: #E9EFF7;
}
*/
.blue table thead tr,
table.blue thead tr,
table thead.blue tr,
table thead tr.blue {
    border-color: #3B99BE;
}

.blue table {
    border-color: #3B99BE;
}

.blue td,
.blue th,
td.blue,
th.blue {
    border-color: #3B99BE;
}
