
/* ################################################################ */
/* ###################### HEADER AND FOOTER ####################### */
/* ################################################################ */

/* make the h1-h6 elements in a header have less margin and a little padding */
gs-header h1, gs-header h2, gs-header h3, gs-header h4, gs-header h5, gs-header h6,
gs-footer h1, gs-footer h2, gs-footer h3, gs-footer h4, gs-footer h5, gs-footer h6 {
    padding: 0.1em 0.2em;
    margin: 0 0.2em;
}

/* common styles between headers and footers */
gs-page > gs-header,
gs-page > gs-footer {
    position: absolute;
    display: block;
    left: 0;
    
    z-index: 2;
    
    width: 100%;
    
    padding: 0.6em;
    box-shadow: 0 0 0.25em 0 #AAAAAA;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


gs-header {
    top: 0;
    border-bottom: 2px solid #000000;
}

gs-footer {
    bottom: 0;
    border-top: 2px solid #000000;
}
/*
gs-page > gs-header {
    padding-bottom: 1em;
}


gs-page > gs-footer {
    padding-top: 1em;
}
*/
gs-header .border-line,
gs-footer .border-line {
    position: absolute;
    left: 2%;
    width: 96%;
    outline: 1px solid #000000;
}

gs-header .border-line {
    bottom: 0.5em;
}

gs-footer .border-line {
    top: 0.5em;
}
