gs-jumbo {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    display: block;
}
gs-jumbo h1,
gs-jumbo .h1 {
    color: inherit;
}
gs-jumbo p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
gs-jumbo > hr {
    border-top-color: #d5d5d5;
}
gs-container gs-jumbo {
    border-radius: 6px;
}
gs-jumbo gs-container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    gs-jumbo {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    gs-container gs-jumbo {
        padding-right: 60px;
        padding-left: 60px;
    }
    gs-jumbo h1,
    gs-jumbo .h1 {
        font-size: 63px;
    }
}