gs-datetime .placeholder {
    color: #888888;
}

/********* DATETIME CALENDER DIALOG *********/

gs-body.gs-datetime-calender-dialog {
    padding: 2em;
}

gs-body.gs-datetime-calender-dialog .adjust-section {
    width: 10.46em;
}
gs-body.gs-datetime-calender-dialog .date-section .centered,
gs-body.gs-datetime-calender-dialog .time-section .centered {
    margin: 0 auto;
}

gs-body.gs-datetime-calender-dialog .date-input,
gs-body.gs-datetime-calender-dialog .time-input {
    position: relative;
    
    background-color: white;
    color: black;
    
    padding: 0.25em;
    border: none;
    margin: 0.25em;
    
    border-radius: 0;
    
    height: 1em;
    line-height: 1.2em;
    font-size: 1em;
    
    /*box-shadow: 0 0.3em 0.5em -0.125em rgba(0,0,0,.1), 0 0.2em 0.5em 0 rgba(0,0,0,.14), 0 0.0625em 0.3125em 0 rgba(0,0,0);*/
    /*box-shadow: 0 0 0.1em 0 rgba(0,0,0,.1), 0 0 0.2em 0 rgba(0,0,0,.2);*/
    box-shadow: 0 0 0.1em 0 rgba(0,0,0,.2), 0 0 0.2em 0 rgba(0,0,0,.4);
    transition: box-shadow 0.5s;
    
    display: inline-block;
    
    vertical-align: top;
    width: 6.9em;
}

gs-body.gs-datetime-calender-dialog .date-input input,
gs-body.gs-datetime-calender-dialog .time-input input {
    font-size: 1em;
    font-family: inherit;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    
    -webkit-border-radius: inherit;
    /*-moz-border-radius: none;*/
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    line-height: 1.2em;
    
    background-color: white;
    color: black;
    
    padding: 0;
    border: none;
    margin: 0;
    
    border-radius: 0;
    
    width: 1.1em;
}
gs-body.gs-datetime-calender-dialog .time-input input.ampm {
    width: 1.5em;
}
gs-body.gs-datetime-calender-dialog .date-input input.year {
    width: 3em;
}
gs-body.gs-datetime-calender-dialog .date-input .divider,
gs-body.gs-datetime-calender-dialog .time-input .divider {
    width: 0.3em;
}

gs-body.gs-datetime-calender-dialog .adjust-container {
    position: relative;
    
    border: none;
    margin: 0.25em 0;
    
    height: 1.5em;
    width: 1em;
    font-size: 1em;
    
    display: inline-block;
    
    vertical-align: top;
}
gs-body.gs-datetime-calender-dialog .date-adjust,
gs-body.gs-datetime-calender-dialog .date-today,
gs-body.gs-datetime-calender-dialog .time-adjust,
gs-body.gs-datetime-calender-dialog .time-now {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    margin: 0;
    padding: 0;
    
    text-align: center;
    font-family: fontawesome;
    
    background: #FFFFFF;
}
gs-body.gs-datetime-calender-dialog .date-adjust:hover,
gs-body.gs-datetime-calender-dialog .date-today:hover,
gs-body.gs-datetime-calender-dialog .time-adjust:hover,
gs-body.gs-datetime-calender-dialog .time-now:hover {
    filter: invert(10%);
}
gs-body.gs-datetime-calender-dialog .date-adjust,
gs-body.gs-datetime-calender-dialog .time-adjust {
    height: 50%;
    line-height: 0.75em;
}
gs-body.gs-datetime-calender-dialog .date-today,
gs-body.gs-datetime-calender-dialog .time-now {
    display: inline-block;

    line-height: 2em;
    height: 2em;
    width: 1em;
}

gs-body.gs-datetime-calender-dialog .date-section .calender {
    width: 21em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

gs-body.gs-datetime-calender-dialog .date-section .calender .day-letter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    padding: 0.3em;
    line-height: 1.5em;
    width: 3em;
    height: 2.1em;
    
    outline: 0.01em solid #000000;
    display: inline-block;
    text-align: center;
    color: #000000;
    background: #DDDDDD;
}

gs-body.gs-datetime-calender-dialog .date-section .calender .day {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    padding: 0.3em;
    line-height: 1.5em;
    width: 3em;
    height: 2.1em;
    
    outline: 0.01em solid #000000;
    background: #FFFFFF;
    display: inline-block;
    text-align: center;
    color: #000000;
}
gs-body.gs-datetime-calender-dialog .date-section .calender .day.grey {
    background: #BBBBBB;
}
gs-body.gs-datetime-calender-dialog .date-section .calender .day.today {
    background: #F0F0FF;
}
gs-body.gs-datetime-calender-dialog .date-section .calender .day.selected {
    background: #FFB000;
    color: #ffffff;
}

gs-body.gs-datetime-calender-dialog .time-section .clock-parent {
    position: relative;
    height: 19.2em;
}

gs-body.gs-datetime-calender-dialog .time-section .clock {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    
    width: 15em;
    height: 15em;
    border: 0.3em solid #000000;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7.8em;
    margin-top: -7.8em;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .marking {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -7.5em;
    
    height: 14.2em;
    border-top: 0.8em solid #000000;
    width: 0.2em;
    margin-left: -0.1em;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .marking.large {
    height: 13.5em;
    border-top: 1.5em solid #000000;
}

gs-body.gs-datetime-calender-dialog .time-section .clock .hour-hand,
gs-body.gs-datetime-calender-dialog .time-section .clock .minute-hand,
gs-body.gs-datetime-calender-dialog .time-section .clock .second-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .hour-hand {
    -webkit-transform-origin: 0.2em 0.5em;
    -moz-transform-origin: 0.2em 0.5em;
    -ms-transform-origin: 0.2em 0.5em;
    -o-transform-origin: 0.2em 0.5em;
    transform-origin: 0.2em 0.5em;
    
    height: 4em;
    margin-left: -0.2em;
    border-left: 0.4em solid #000000;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .minute-hand {
    -webkit-transform-origin: 0.1em 0.5em;
    -moz-transform-origin: 0.1em 0.5em;
    -ms-transform-origin: 0.1em 0.5em;
    -o-transform-origin: 0.1em 0.5em;
    transform-origin: 0.1em 0.5em;
    
    height: 5.5em;
    margin-left: -0.1em;
    border-left: 0.2em solid #000000;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .second-hand {
    -webkit-transform-origin: 0.05em 0.5em;
    -moz-transform-origin: 0.05em 0.5em;
    -ms-transform-origin: 0.05em 0.5em;
    -o-transform-origin: 0.05em 0.5em;
    transform-origin: 0.05em 0.5em;
    
    height: 7em;
    margin-left: -0.05em;
    border-left: 0.1em solid #FF0000;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .clock-hand-drag-handle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    
    position: absolute;
    bottom: 0;
    
    background: none;
    
    margin-bottom: -0.5em;
    width: 1em;
    height: 1em;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .hour-hand .clock-hand-drag-handle {
    margin-left: -0.7em;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .minute-hand .clock-hand-drag-handle {
    margin-left: -0.6em;
}
gs-body.gs-datetime-calender-dialog .time-section .clock .second-hand .clock-hand-drag-handle {
    margin-left: -0.55em;
}


/********** DATETIME WHEEL DIALOG ***********/

gs-body.gs-datetime-wheel-dialog {
	display: inline-block;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

gs-body.gs-datetime-wheel-dialog > div.root {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    padding: 1em;
    margin: 0;
    display: inline-block;
}

gs-body.gs-datetime-wheel-dialog .divider {
	position: relative;
	top: 3.25em;
	height: 1.5em;
    width: 0.7em;
	line-height: 1.5em;
    display: inline-block;
    text-align: center;
}
gs-body.gs-datetime-wheel-dialog .divider[touch] {
    font-size: 9vh;
}

gs-body.gs-datetime-wheel-dialog .divider span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 1.5em;
	line-height: 1.5em;
	color: black;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	user-select: none;
}

/******************* WHEEL ******************/

gs-wheel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	height: 10em;
	width: auto;
	display: inline-block;
}
gs-wheel[touch] {
    font-size: 9vh;
}

gs-wheel .root {
	position: relative;
    padding: 0;
    height: 8em;
    margin: 0;
    display: inline-block;
}

gs-wheel .container {
	position: relative;
	top: 3.25em;
	height: 1.5em;
    width: 1.5em;
	line-height: 1.5em;
    display: inline-block;
    
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	-o-perspective: 1100px;
	perspective: 1100px;
}

gs-wheel[values="y"] .container,
gs-wheel[values="yyyy"] .container {
	width: 3.25em;
}
gs-wheel[values="ampm"] .container {
	width: 2.25em;
}

gs-wheel .transparent {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3.25em;
	background: #FFFFFF;
	opacity: 0.5;
    display: inline-block;
    z-index: 1000;
}
gs-wheel .transparent.top {
	top: 0;
}
gs-wheel .transparent.bottom {
	bottom: 0;
}

gs-wheel .wheel {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    
    -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

gs-wheel .value {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 1.5em;
	line-height: 1.5em;
	color: black;
	margin: 0;
	padding: 0 0.3em;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-align: left;
	user-select: none;
}
