
gs-scroller {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

gs-scroller.scrollable {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

gs-scroller-inner {
    display: block;
    position: absolute;
    z-index: 1;
    
    cursor: pointer;
}

gs-scroller-inner.down {
    cursor: drag;
    cursor: move;
}
