
gs-text {
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 0.2em;
    min-height: 1em;
    
    line-height: 1em;
    padding: 0;
    box-shadow: none;
}


/* ###################################################################################### */
/* ###################################### MINI STATE #################################### */
/* ###################################################################################### */

gs-text[mini] {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 #FFFFFF;
    border-radius: 0;
}

gs-text[mini] input {
    padding: 0;
    border: 0;
}


/* ###################################################################################### */
/* #################################### DISABLED STATE ################################## */
/* ###################################################################################### */

gs-text[disabled],
gs-text[disabled] .control {
    /*height: 1.35em;*/
    background-color: #D5D5D5;
    pointer-events: auto;
}


/* ###################################################################################### */
/* #################################### READONLY STATE ################################## */
/* ###################################################################################### */

gs-text[readonly] {
    box-shadow: 0 0 0 0 #000 inset;
    opacity: 0.9;
    border-color: #E6E6E6;
    cursor: default;
}