/* ###################################################################################### */
/* ###################################### MINI STATE #################################### */
/* ###################################################################################### */

gs-number[mini] {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 #FFFFFF;
    border-radius: 0;
}

gs-number[mini] input {
    padding: 0;
    border: 0;
}

/* ###################################################################################### */
/* #################################### READONLY STATE ################################## */
/* ###################################################################################### */

gs-number[readonly] {
    box-shadow: 0 0 0 0 #000 inset;
    opacity: 0.9;
    border-color: #E6E6E6;
    cursor: default;
    padding: 0.2em;
}