gs-date {
    position: relative;
    display: block;
    padding: 0;
    line-height: 1em;
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 0.2em;
    min-height: 1em;
}

gs-date .date-picker-button {
    position: absolute;
    right: 0;
    top: 0;
    
    width: 2.4em;
    height: 100%;
    
    max-height: 25px;
    min-height: 0px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

gs-date .date-picker-button:after {
    font-size: 1em;
}

/*
gs-date[no-picker] {
    padding: 0.2em;
}
*/
gs-date[no-picker] .date-picker-button {
    display: none;
}


gs-date[disabled],
gs-date[disabled] .control {
    background-color: #D5D5D5;
}


gs-date[mini] {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 #FFFFFF;
    border-radius: 0;
}
gs-date[mini] .date-picker-button {
    width: 1.5em;
}
gs-date[mini] .date-picker-button:after {
    font-size: 0.8em;
}

gs-date[mini] input {
    padding: 0;
    border: 0;
}

/* ########################################################## */
/* ##################### READONLY STATE ##################### */
/* ########################################################## */

gs-date[readonly] {
    box-shadow: 0 0 0 0 #000 inset;
    opacity: 0.9;
    border-color: #E6E6E6;
    cursor: default;
    padding: 0.2em;
}

gs-date[readonly] .date-picker-button {
    display: none;
    cursor: default;
    opacity: 0.9;
    pointer-events: none;
}


/* ###################################################################################### */
/* ###################################### DATEPICKER #################################### */
/* ###################################################################################### */

.gs-date-date-picker-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.date-picker-divider {
    height: 5px;
    width: 100%;
}

.gs-date-date-picker-container .gs-date-date-picker {
    position: absolute;
    
    background-color: #F5F5F5;
    
    border: 1px solid #000000;
}

.gs-date-date-picker-container .gs-date-date-picker .year-marker {
    border-bottom: 1px solid #000000;
    text-align: center;
}

.gs-date-date-picker-container .gs-date-date-picker .month-marker {
    border-bottom: 1px solid #000000;
    text-align: center;
}

.gs-date-date-picker-container .gs-date-date-picker .day-of-week-marker {
    display: inline-block;
    
    width: 14.285%;
    
    text-align: center;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.gs-date-date-picker-container .gs-date-date-picker .day-of-week-markers-container .day-of-week-marker:last-child {
    border-right: 0;
}

.gs-date-date-picker-container .gs-date-date-picker .day-marker {
    width: 14.285%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.gs-date-date-picker-container .gs-date-date-picker .day-marker.other-month {
    background-color: #D0D0D0;
}

.gs-date-date-picker-container .gs-date-date-picker .day-marker.today {
    border-color: #00FF00;
}
