html.no-scroll-except-for-dialog,
html.no-scroll-except-for-dialog > body,
html.no-scroll-except-for-dialog > body > *:not(gs-dialog),
html.no-scroll-except-for-dialog > body > *:not(gs-dialog) * {
    overflow: hidden !important;
}

/* ################################################################## */
/* ######################## DIALOG CONTAINER ######################## */
/* ################################################################## */

gs-dialog {
    position: fixed;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    
    background-color: white;
    color: black;
    
    padding: 0;
    border: none;
    margin: 0;
    
    border-radius: 0;
    
    
    box-shadow: 0.3em 0.3em 0.1em 0 rgba(0,0,0,.1), 0 0 0.2em 0 rgba(0,0,0,.2);
    
    top: 1%;
    
    z-index: 100;
    
}


/* ################################################################### */
/* ###################### DIALOG PAGE CONTAINER ###################### */
/* ################################################################### */
/*
gs-dialog > gs-page {
    position: absolute;
}
*/

/* ################################################################### */
/* ########################## DIALOG THEMES ########################## */
/* ################################################################### */

/* ########################## */
/* ########## INFO ########## */
/* ########################## */
gs-dialog.info gs-header {
    background-color: #86C9F2;
}

gs-dialog.info gs-footer  {
    background-color: #86C9F2;
}

/* ######################### */
/* ######### ERROR ######### */
/* ######################### */
gs-dialog.error gs-header {
    /*
    background-color: #FF4949;
    font-weight: 900;
    color: #FFFFFF;
    */
	color:#a94442
}
/*
gs-dialog.error gs-footer  {
    background-color: #FF4949;
}
*/
/* ################################################################## */
/* ######################### DIALOG OVERLAY ######################### */
/* ################################################################## */

gs-dialog-overlay {
    display: block;
    
    position: fixed;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: #FFFFFF;
    opacity: 0.6;
    
    z-index: 100;
}


gs-dialog-overlay[no-background] {
    background-color: transparent;
    opacity: 1;
}

