gs-img {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

gs-img:not([align]), gs-img[align="center"] {
    margin-left: auto;
    margin-right: auto;
}

gs-img[align="right"] {
    margin-left: auto;
}

gs-img[image-cover] {
    background-size: cover;
}