gs-file-manager {
    display: block;
    border: 2px solid #000000;
}

gs-file-manager[mini] {
    border: 0 none;
}

gs-file-manager > .root {
    height: 100%;
}

gs-file-manager > .root > .file-manager-list {
    min-height: 1.6em;
    
    overflow: auto;
}

gs-file-manager > .root > .file-manager-list .goto-file {
    text-align: left;
}

gs-file-manager > .root > .file-manager-upload {
    margin-top: 0.2em;
}

gs-file-manager[readonly] > .root > .file-manager-upload,
gs-file-manager[readonly] > .root > .file-edit-file,
gs-file-manager[readonly] > .root > .file-delete-file {
    display: none;
}

gs-file-manager[readonly] > .root > .goto-file {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;
}
