
gs-number {
    display: block;
    padding: 0.2em;
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 0.2em;
    box-shadow: 0 0 0.2em 0.1em #C5C5C5 inset;
    min-height: 1em;
}

/* ###################################################################################### */
/* ###################################### MINI STATE #################################### */
/* ###################################################################################### */

gs-number[mini] {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 #FFFFFF;
    border-radius: 0;
}


/* ###################################################################################### */
/* #################################### DISABLED STATE ################################## */
/* ###################################################################################### */

gs-number[disabled],
gs-number[disabled] .control {
    background-color: #D5D5D5;
}