gs-sticky,
gs-sticky-inner {
    display: block;
}

gs-sticky[stuck]:not([direction="down"]) > gs-sticky-inner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10; /*100*/
}

gs-sticky[stuck][direction="down"] > gs-sticky-inner {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}